In [76]:
from __future__ import print_function, division
import math
import nsfg
import thinkstats2

In [43]:
preg = nsfg.ReadFemPreg()
live = preg[preg.outcome== 1]
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [44]:
preg.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [61]:
first = live[live.birthord == 1]
others = live[live.birthord != 1]

mean_live = live.totalwgt_lb.mean()
mean_first = first.totalwgt_lb.mean()
mean_others = others.totalwgt_lb.mean()

var1 = first.totalwgt_lb.var()
var2 = others.totalwgt_lb.var()

In [62]:
group1 = first.totalwgt_lb.value_counts().sum()
group1

4363

In [63]:
group2 = others.totalwgt_lb.value_counts().sum()
group2

4675

In [66]:
'Mean'
'First babies', mean_first
'Others', mean_others

('Others', 7.325855614973262)

In [67]:
'First babies', mean_first

('First babies', 7.201094430437772)

In [71]:
'Other babies', mean_others

('Others', 7.325855614973262)

In [73]:
'Variance'

'Variance'

In [74]:
'First babies', var1

('First babies', 2.0180273009157768)

In [75]:
'Other babies', var2

('Other babies', 1.9437810258964572)

In [78]:
'Difference in lbs', mean_first - mean_others

('Difference in lbs', -0.12476118453549034)

In [79]:
'Difference in oz', (mean_first - mean_others) * 16

('Difference in oz', -1.9961789525678455)

In [81]:
'Difference relative to mean (percentage points)', (mean_first - mean_others) / mean_live * 100

('Difference relative to mean (%age points)', -1.7171423678372415)

In [83]:
d = thinkstats2.CohenEffectSize(first.totalwgt_lb, others.totalwgt_lb)

In [84]:
'Cohen d', d

('Cohen d', -0.088672927072602)

In [ ]:
'On average, first babies tend to be born on average or just slightly later than other babies. First babies also seem to be around 1.7% lighter than other babies.'